/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}

/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Almennt */

/** Letur og stærðir **/

/*** Grunnstærð er 16px ***/
html {
  font-size: 16px;
  background-color: #cc99bb;
}

/*** Leturgerðir sem við sækjum úr fonts/ möppu ***/
@font-face {
  /* TODO Bæta við leturgerð */
  font-family: 'Matemasie';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Fonts/Matemasie/Matemasie-Regular.ttf') format('truetype');
}


@font-face {
  /* TODO Bæta við leturgerð */
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Fonts/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  /* TODO Bæta við leturgerð */
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Fonts/Open_Sans/static/OpenSans-Bold.ttf') format('truetype');

}

/*** Allt meginmál notar open sans ***/
html,
input,
select,
button {
  /* TODO Skilgreina */
  font-family: 'OpenSans-Regular';
}

/*** Allar fyrirsagnir nota Matemasie regular ***/
h1,
h2,
h3,
legend {
  font-family: 'Matemasie', sans-serif;
  /* TODO Skilgreina */
}

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
  border-radius: 5px;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
}

/**
 * Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
 * Við förum yfir flexbox í viku 4 en þangað til er hægt að nota þetta
 * sem grunn og án breytinga.
 * Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
 * innan <body>.
 */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #cc99bb;

}

.wrapper main {
  flex: 1;
  background-color: #f3dd99;
  padding-left: 5%;
  padding-right: 5%;
}

/* Það sem fylgir er tillaga að uppbyggingu á selectorum fyrir verkefnið */

/** Haus á síðum **/

header {
  /* TODO Skilgreina */
  background-color: #cc99bb;
  text-align: center;
  padding: 2%;
}

/** Valmynd **/

nav {
  margin: 3px;
  font-size: medium;


  background-color: #eebbdd;
  /* TODO Skilgreina */
}

/* TODO Skilgreina aðra selectora fyrir valmynd */
nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}


/** Meginmál og efni forsíðu **/

main {
  display: block;
  overflow: hidden;
  /* TODO Skilgreina */
}

main section p {
  display: block;
  font-size: small;
  float: none;
  width: auto;
}

main section {
  font-size: medium;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

main section img {
  max-width: 30%;
  float: right;
  margin-left: 20px;
}


/* TODO Skilgreina aðra selectora fyrir meginmál of forsíðu */

/** Fótur **/

footer {
  font-size: large;
  margin: 4px;
  background-color: #eebbdd;
  text-align: center;
  /* TODO Skilgreina */
}

/* Ef við notum section fyrir hvert svæði undir fót, þá er hægt að nota eftirfarandi */
footer>section {
  display: inline-block;
  justify-content: center;
  /* Lætur efni byrja efst í línu, almennt myndum við nota flexbox hér! */
  vertical-align: top;
  /* TODO fleiri skilgreiningar */
  padding: 5%;
}

/* TODO Skilgreina aðra selectora fyrir fót */

footer ul {
  list-style: none;
}

footer dt {
  font-weight: bold;
}



/** Spilasíða, töflustílar **/

table {
  border-collapse: collapse;
  /* TODO Skilgreina */
}

table td {
  overflow: auto;
  padding-right: 10px;
  max-width: fit-content;
}

/* TODO Skilgreina aðra selectora fyrir töflu */

table tr:nth-child(odd) {
  background-color: #eebbdd;
}

table tr img {
  padding: 2%;
  width: fit-content;
}

/** Viðburðir **/

.event {
  /* TODO Skilgreina, gerum ráð fyrir að hver viðburður hafi eigin selector */

}

/* TODO Skilgreina aðra selectora fyrir viðburði */

/** Skráningarform **/

/* TODO Skilgreina */


main form fieldset {
  border: none;
  padding-bottom: 5%;
  display: block;
}


main form div {
  margin: 10px;
  display: block;
}

main form legend {
  padding-bottom: 10px;
}

main form fieldset div label {
  display: block;
}

select,
input:not([type="checkbox"]),
textarea {
  text-align: left;
  width: 45%;
  height: 30px;
  display: block;
}

input[type="checkbox"] {
  float: left;
}

form button {
  color: #000000;
  background-color: #eebbdd;
  border: none;
  padding: 5px;
  border-radius: 3px;
}